<h1><%= @member.pretty_name() %>'s Info </h1>

<p>Date of Birth: <%= @member.date_of_birth %></p>

<h3>Lessons Taking</h3>
<ul>
    <% @member.lessons.each do |lesson| %>
        <li> 
            <p>Lesson Name: <%= lesson.lesson_name %></p>
            <p>Lesson Type: <%= lesson.lesson_type %></p>
            <p>Day of Lesson: <%= lesson.day_of_lesson%><p>
            <p>Time of the Lesson: <%= lesson.time_lesson_is_on%></p>
            <p>Week number of Lesson: <%= lesson.week_number_lesson_is_on%></p>
        </li>
    <% end %>
</ul>