<h1>Edit <%=@lesson.lesson_name%>'s Details</h1>

<form method="POST" action="/lessons/<%=@lesson.id%>">
    <p>
        <label for="lesson_name">Lesson Name: </label>
        <input type="text" name="lesson_name" id="lesson_name" value="<%=@lesson.lesson_name%>"/>
    </p>

    <p>
        <label for="lesson_type">Lesson Type: </label>
        <input type="text" name="lesson_type" id="lesson_type" value="<%=@lesson.lesson_type%>"/>
    </p>

    <p>
        <label for="day_of_lesson">Day of Lesson: </label>
        <input type="text" name="day_of_lesson" id="day_of_lesson" value="<%=@lesson.day_of_lesson%>"/>
    </p>

    <p>
        <label for="time_lesson_is_on">Time of Lession: </label>
        <input type="text" name="time_lesson_is_on" id="time_lesson_is_on" value="<%=@lesson.time_lesson_is_on%>" />
    </p>

    <p>
        <label for="week_number_lesson_is_on">Week Number of Lesson: </label>
        <input type="number" name="week_number_lesson_is_on" id="week_number_lesson_is_on" value="<%=@lesson.week_number_lesson_is_on%>" min="1" max="52"/>
    </p>

    <p>
        <input type="submit" value="Update Lesson's Details" />
    </p>

</form>